doctype html
html
    head
        title= title
        link(rel='stylesheet', href='http://d2v52k3cl9vedd.cloudfront.net/basscss/7.0.0/basscss.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')

    body
        header(role='banner')
            h1.center Civic Engagement Mapping
        div.container
            div.clearfix
                #filters.col.col-4
                    h2 Issue Areas
                    form#options-menu
                        fieldset#tags
                            section
                                div.p1.js-filter-tags
                                    div
                                        label.block
                                            input(type="checkbox", name="Arts and Culture for Social Change" value="Arts and Culture for Social Change" checked="check")
                                            | Arts and Culture for Social Change
                                        label.block
                                            input(type="checkbox", name="Education" value="Education" checked="check")
                                            | Education
                                        label.block
                                            input(type="checkbox", name="Environment Food and Sustainability" value="Environment Food and Sustainability" checked="check")
                                            | Environment, Food and Sustainability
                                        label.block
                                            input(type="checkbox", name="Gender and Sexuality" value="Gender and Sexuality" checked="check")
                                            | Gender and Sexuality
                                        label.block
                                            input(type="checkbox", name="Political Engagement and Public Policy" value="Political Engagement and Public Policy" checked="check")
                                            | Political Engagement and Public Policy
                                        label.block
                                            input(type="checkbox", name="Race and Justice" value="Race and Justice" checked="check")
                                            | Race and Justice
                                        label.block
                                            input(type="checkbox", name="Social Innovation" value="Social Innovation" checked="check")
                                            | Social Innovation
                                        label.block
                                            input(type="checkbox", name="Peace and Conflict Studies" value="Peace and Conflict Studies" checked="check")
                                            | Peace and Conflict Studies
                                        label.block
                                            input(type="checkbox", name="Community-based Learning Course" value="Community-based Learning Course" checked="check")
                                            | Community-based Learning Course
                        div.py2
                            button#apply.m1.btn.btn-primary(type="button") Apply Settings
                    #search-box.border
                        form
                            input(type="text" placeholder="Keyword Search")
                            button.btn.btn-primary Go
                        div HELLO BOX HELLO BOX HELLO BOX HELLO BOX HELLO BOX v v v HELLO BOXHELLO BOXHELLO BOXHELLO BOXHELLO BOXHELLO BOXHELLO BOXHELLO BOXHELLO BOXHELLO BOX
                div.col.col-8.px1
                    #map_canvas
        block content
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
        script(src='/javascripts/main.js')
        script(src='https://maps.googleapis.com/maps/api/js?&sensor=false')
