doctype html
html
    head
        title= title
        link(rel='stylesheet', href='http://d2v52k3cl9vedd.cloudfront.net/basscss/7.0.0/basscss.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')

    body
        header.center(role='banner')
            img.inline-block.banner-img.right(src='/images/CollegeLogoGarnet.svg')
            h1.align-top.inline-block Civic Engagement Mapping
            img.inline-block.banner-img.left(src='/images/lang-center-logo.png')
        div.container
            div.clearfix
                #filters.col.col-3
                    h2.m1 Issue Areas
                    form#options-menu
                        fieldset#tags
                            section
                                div.p1.js-filter-tags.noselect
                                    div.block
                                        input(type="checkbox", id="in_arts" name="Arts, Culture, and Public Interest" value="Arts, Culture, and Public Interest" checked="check") 
                                        label(for="in_arts") Arts, Culture, & Public Interest

                                    div.block
                                        input(type="checkbox", id="in_edu" name="Education" value="Education" checked="check")
                                        label(for="in_edu") Education
                                    
                                    div.block
                                        input(type="checkbox", id="in_env" name="Environment, Food, and Sustainability" value="Environment, Food, and Sustainability" checked="check")
                                        label(for="in_env") Environment, Food & Sustainability
                                    
                                    div.block
                                        input(type="checkbox", id="in_gend" name="Genders and Sexualities" value="Genders and Sexualities" checked="check")
                                        label(for="in_gend") Genders & Sexualities
                                        
                                    div.block
                                        input(type="checkbox", id="in_poli" name="Political Engagement and Public Policy" value="Political Engagement and Public Policy" checked="check")
                                        label(for="in_poli") Political Engagement & Public Policy
                                        
                                    div.block
                                        input(type="checkbox", id="in_race" name="Race and Justice" value="Race and Justice" checked="check")
                                        label(for="in_race") Race & Justice
                                    
                                    div.block
                                        input(type="checkbox", id="in_soc" name="Social Innovation" value="Social Innovation" checked="check")
                                        label(for="in_soc") Social Innovation
                                    
                                    div.block
                                        input(type="checkbox", id="in_peac" name="Peace and Conflict Studies" value="Peace and Conflict Studies" checked="check")
                                        label(for="in_peac") Peace & Conflict Studies

                        div.py2
                            button#apply.m1.btn.btn-primary(type="button") Apply Settings
                        div.py3
                            input(type="search" placeholder="Keyword Search" name="keyword_inputs")
                            button#search_btn.btn.btn-primary(type="button") Go
                div.col.col-9
                    #map_canvas
        block content
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
        script(src='/javascripts/main.js')
        script(src='https://maps.googleapis.com/maps/api/js?&sensor=false')
