doctype html
html
    head
        title= title
        link(rel='stylesheet', href='http://d2v52k3cl9vedd.cloudfront.net/basscss/7.0.0/basscss.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')

    body
        #map_canvas
        block content
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
        script(src='/javascripts/main.js')
        script(src='https://maps.googleapis.com/maps/api/js?&sensor=false')
