doctype html
html
    head
        title Civic Engagement Mapping
        link(rel='stylesheet', href='/stylesheets/modal-min-bootstrap.css')
        link(rel='stylesheet', href='//d2v52k3cl9vedd.cloudfront.net/basscss/7.0.0/basscss.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        div.header-div(role='banner')
            img.banner-img.left(src='/images/CollegeLogoGarnet.svg')
            h1.main-title.center Civic Engagement Mapping
            #trademark.right.p1 Powered by: The Lang Center
        div.container
            div.clearfix
                #filters.col.col-3
                    h2.m1 Issue Areas
                    form#options-menu
                        fieldset#tags
                            section
                                div.p1.js-filter-tags.noselect
                                    div.block.check_block
                                        input(type="checkbox", id="in_arts" name="Arts, Culture, and Public Interest" value="Arts Culture and Public Interest" checked="check") 
                                        label(for="in_arts") Arts, Culture, & Public Interest

                                    div.block.check_block
                                        input(type="checkbox", id="in_edu" name="Education" value="Education" checked="check")
                                        label(for="in_edu") Education
                                    
                                    div.block.check_block
                                        input(type="checkbox", id="in_env" name="Environment, Food, and Sustainability" value="Environment Food and Sustainability" checked="check")
                                        label(for="in_env") Environment, Food & Sustainability
                                    
                                    div.block.check_block
                                        input(type="checkbox", id="in_gend" name="Genders and Sexualities" value="Genders and Sexualities" checked="check")
                                        label(for="in_gend") Genders & Sexualities
                                        
                                    div.block.check_block
                                        input(type="checkbox", id="in_poli" name="Political Engagement and Public Policy" value="Political Engagement and Public Policy" checked="check")
                                        label(for="in_poli") Political Engagement & Public Policy
                                        
                                    div.block.check_block
                                        input(type="checkbox", id="in_race" name="Race and Justice" value="Race and Justice" checked="check")
                                        label(for="in_race") Race & Justice
                                    
                                    div.block.check_block
                                        input(type="checkbox", id="in_soc" name="Social Innovation" value="Social Innovation" checked="check")
                                        label(for="in_soc") Social Innovation
                                    
                                    div.block.check_block
                                        input(type="checkbox", id="in_peac" name="Peace and Conflict Studies" value="Peace and Conflict Studies" checked="check")
                                        label(for="in_peac") Peace & Conflict Studies

                        div
                            button#apply.m1.btn.btn-primary(type="button") Apply Settings
                    #search_modal.modal.fade(role='dialog')
                        .modal-dialog
                            .modal-content
                                .modal-header
                                    button.close(type='button', data-dismiss='modal') &times;
                                    h4.modal-title Search Results
                                .modal-body
                                    p Some text in the modal.
                                .modal-footer
                                    button.btn.btn-default(type='button', data-dismiss='modal') Close
                    #info_form.modal.fade(role='dialog')
                        .modal-dialog
                            .modal-content
                                .modal-header
                                    button.close(type='button', data-dismiss='modal') &times;
                                    h4.modal-title Get your own project mapped!
                                .modal-body
                                    iframe(src="https://docs.google.com/forms/d/1Wx-lw8WiSyvhUiIcBmGq0G5CWQbzVSDsGzEODw6-_I4/viewform" height='500px' width='500px')
                                .modal-footer
                                    button.btn.btn-default(type='button', data-dismiss='modal') Close
                    div.py2#search_div
                        form#search_form.m1
                            input#search_box(type="search" placeholder="Keyword Search" name="keyword_inputs")
                            button#search_btn.btn.btn-primary(type="submit" value = "Search") Go
                        a.m1(href="javascript:$('#search_modal').modal('toggle')") Open Results
                        p
                        a.m1(href="javascript:$('#info_form').modal('toggle')") Want to get your own information featured?
                div.col.col-9
                    #map_canvas
        block content
        script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous")
        script(src='/javascripts/main.js')
        script(src='https://maps.googleapis.com/maps/api/js?&sensor=false')
