@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Lora);

html,body,#map_canvas{
	height: 100%;
	margin:0;
	padding:0;
	min-width:925px;
}
body{
	min-height:750px;
	background-color:#631919;
}
.header-div{
	overflow:auto;
	
}

h1, h3{
	font-family: 'Lora', serif;
	color:white;
}

.btn-primary{
	background-color:#832121;
}

h2{
	color:black;
	font-family: 'Lora', serif;
}
.banner-img{
	height:10rem;
	float:left;
	/*clear:right;*/
	overflow:auto;
}

.container{
	height: 80%;
	max-width: 100%;
	min-height: 650px;
	font-family: 'Lato';
	position:relative;
}
.clearfix,.col{
	height: 100%;
}
#site-info{
	max-height: 100%;
}
.site-info{
	height: auto;
}
#filters{
	background: url(http://www.swarthmore.edu/sites/all/themes/swarthmore_bootstrap/css/images/bg_content.jpg) repeat scroll 0% 0% transparent;
}

#tags{
	font-size:1.4rem;
	/*box-shadow: 3px 3px 8px #888888;*/
	width:97%;
	margin:1%;
	padding-left:5px;
	padding-bottom:5px;
	padding-top:5px;
	/*border: dotted black 1px;*/
	/*border-radius:2%;*/
}

.thumb{
	width:350px;
}

#search_div{
	position: absolute;
    bottom: 5px;
}

fieldset {
	border:0;
	padding:0;
	margin:0;
}
.btn-small {
  padding: .125rem .5rem;
}

dt{
	width:100px;
	font-weight:bold;
	
}
input[type=checkbox] {
    transform: scale(1.7);
    -ms-transform: scale(1.7);
    -webkit-transform: scale(1.7);
    padding: 5px;
}

dt:after {
    content: ":";
 }
 
label {
	color:rgb(200,200,200);
}

.check_block{
	padding:3px;
}
.check_block:hover label{
	color:black;
}

input[type="checkbox"]:checked + label {
    color: black;
}
input[type="checkbox"]:checked:hover + label {
    color:rgb(200,200,200);
}
 
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}